{% extends "templates/customer_email_base.html" %}

{% block heading %}
{% endblock %}

{% block main_content %}
    <h1 style="font-family: Arial, Helvetica, sans-serif, 'Inter'; font-weight: 400; font-size: 14px; line-height: 20px; text-align: start; color: #141416;">
        To recovery your <span>{% if user %}{{ user }}{% else %} {% endif %}</span> password please push:
    </h1>
    <a href="{{ link }}" target="_blank">
        <button style="margin: 15px 0 20px 0; cursor: pointer; width: 180px; background-color: #3B71FE; border: none; border-radius: 100px; color: white; padding: 15px 32px;  text-decoration: none; line-height: 20px; font-size: 14px;">Recovery password</button>
    </a>
{% endblock %}

{% block footering %}
{% endblock %}
