{% extends "templates/customer_email_base.html" %}

{% block heading %}
    <h1 style="font-family: Arial, Helvetica, sans-serif, 'Inter'; font-weight: 500; font-size: 30px; line-height: 38px; text-align: center; color: #FFFFFF; margin: 0">
        Dear <span>{{ full_name }}</span>
    </h1>
{% endblock %}

{% block main_content %}
    <p class="text-line" style="padding-left: 8px; margin-bottom: 8px; font-family: Arial, Helvetica, sans-serif, 'Inter'; font-weight: 400; line-height: 30px; text-align: center; color: #FFFFFF;">
        You successfully registered in Simple VPN Service with password:
    </p>
    <div style="display: flex; border: 1px solid #4A4E54; border-radius: 24px; align-content: center;">
            <p class="text-line" style="margin: 0 auto; padding: 8px; font-family: Arial, Helvetica, sans-serif, 'Inter'; font-weight: 400; font-size: 32px; line-height: 30px; text-align: center; color: #7EBFC0;">
                {{ password }}
            </p>
    </div>
{% endblock %}

{% block footering %}
    <p class="text-line" style="padding-left: 8px; font-family: Arial, Helvetica, sans-serif, 'Inter'; font-weight: 400; line-height: 30px; text-align: center; color: #FFFFFF;">
        Best regards,<br> Simple VPN Service
    </p>
{% endblock %}
