#Django settings
SECRET_KEY=<str>
DEBUG=<bool>
STATIC_ROOT=<str>
MEDIA_ROOT=<str>

#Database settings
POSTGRES_HOST=db-host
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_PORT=5433

REDIS_URL=redis://localhost:6379

# Auto documentation settings
SWAGGER_URL=<str>

HOST_API_DOMAIN='http://localhost:8000'
